/* src/index.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34; /* Example dark background */
  color: white;
}
.tiptap-display-content p {
  margin-bottom: 1em;
  line-height: 1.7;
}
.tiptap-display-content h1 {
  font-size: 2.5em; /* Or use theme.typography.h3.fontSize */
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* You can add more global styles or theme overrides later */
